<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#README" data-toc-modified-id="README-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>README</a></span></li><li><span><a href="#Foundations-of-Pandas" data-toc-modified-id="Foundations-of-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Foundations of Pandas</a></span><ul class="toc-item"><li><span><a href="#'Series'" data-toc-modified-id="'Series'-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>'Series'</a></span></li><li><span><a href="#'Data-frames'" data-toc-modified-id="'Data-frames'-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>'Data frames'</a></span></li></ul></li><li><span><a href="#Essential-DataFrame-Operations" data-toc-modified-id="Essential-DataFrame-Operations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Essential DataFrame Operations</a></span><ul class="toc-item"><li><span><a href="#I/O" data-toc-modified-id="I/O-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>I/O</a></span></li><li><span><a href="#Head/Tail" data-toc-modified-id="Head/Tail-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Head/Tail</a></span></li><li><span><a href="#Info" data-toc-modified-id="Info-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Info</a></span></li><li><span><a href="#Descriptives" data-toc-modified-id="Descriptives-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Descriptives</a></span></li></ul></li><li><span><a href="#Data-Indexing-and-Slicing" data-toc-modified-id="Data-Indexing-and-Slicing-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Indexing and Slicing</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>.loc</a></span></li><li><span><a href="#Query-Method" data-toc-modified-id="Query-Method-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Query Method</a></span></li><li><span><a href="#Set-Reset-an-Index" data-toc-modified-id="Set-Reset-an-Index-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Set-Reset an Index</a></span></li></ul></li></ul></div>

# README

observation - by - variable

| var1 | var2 | ... | varn
---|----|----|-----|----
obs1 |||||
obs2 |||||
obsi |||||

# Foundations of Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
# test
import wget

In [4]:
import sh

## 'Series'

In [4]:
X = np.linspace(1, 5, 5)
N = ['a', 'b', 'c', 'd', 'e']
S = pd.Series(X, N)

In [5]:
# version controls
S

NameError: name 'S' is not defined

In [6]:
S["a"]

1.0

In [7]:
S[0]

1.0

## 'Data frames'

In [8]:
D = {"var_1": [1, 2, 3, 4], "var_2": ["s1", "s2", "s3", "s4"]}
DF = pd.DataFrame(D)

In [9]:
DF

   var_1 var_2
0      1    s1
1      2    s2
2      3    s3
3      4    s4

# Essential DataFrame Operations

## I/O

In [10]:
import wget

In [12]:
# Download the data
wget.download("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Grocery_and_Gourmet_Food_5.json.gz")

KeyboardInterrupt:

In [ ]:
import sh

In [ ]:
sh.gunzip("reviews_Grocery_and_Gourmet_Food_5.json.gz")

ErrorReturnCode_1:

  RAN: /usr/bin/gunzip reviews_Grocery_and_Gourmet_Food_5.json.gz

  STDOUT:


  STDERR:
gunzip: reviews_Grocery_and_Gourmet_Food_5.json already exists -- skipping

Resources on 'json' format:
https://www.w3schools.com/js/js_json_syntax.asp

In [17]:
F = "reviews_Grocery_and_Gourmet_Food_5.json"
DF = pd.io.json.json_normalize([json.loads(line) for line in open(F)])

NameError: name 'json' is not defined

Julian's data codebook:

- reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B
- asin - ID of the product, e.g. 0000013714
- reviewerName - name of the reviewer
- helpful - helpfulness rating of the review, e.g. 2/3
- reviewText - text of the review
- overall - rating of the product
- summary - summary of the review
- unixReviewTime - time of the review (unix time)
- reviewTime - time of the review (raw)

In [ ]:
# writing data frame to file
DF.to_csv("reviews_Grocery_and_Gourmet_Food_5.csv", index=False)

In [ ]:
# reading data from a file 
DF = pd.read_csv("reviews_Grocery_and_Gourmet_Food_5.csv")

## Head/Tail

In [ ]:
DF.head()

In [ ]:
DF.head().T

In [ ]:
DF.tail()

## Info

In [ ]:
DF.info()

## Descriptives

In [ ]:
DF.describe()

In [ ]:
DF.describe().T

# Data Indexing and Slicing

## .loc

In [17]:
# DF.loc[row_indexer, column_indexer]

In [18]:
# extract subset elements of columns
DF.loc[0:5, ['asin', 'overall']]

         asin  overall
0  616719923X      4.0
1  616719923X      3.0
2  616719923X      4.0
3  616719923X      5.0
4  616719923X      4.0
5  616719923X      4.0

In [19]:
DF1 = DF.loc[0:5, ['asin', 'overall']]

In [ ]:
DF1

         asin  overall
0  616719923X      4.0
1  616719923X      3.0
2  616719923X      4.0
3  616719923X      5.0
4  616719923X      4.0
5  616719923X      4.0

In [ ]:
DF1.loc[:, 'st_overall'] = DF1['overall']/5

In [22]:
DF1

         asin  overall  st_overall
0  616719923X      4.0         0.8
1  616719923X      3.0         0.6
2  616719923X      4.0         0.8
3  616719923X      5.0         1.0
4  616719923X      4.0         0.8
5  616719923X      4.0         0.8

In [23]:
DF1.loc[DF1['overall'] == 4, 'weird'] = DF1['overall']/5

In [24]:
DF1

         asin  overall  st_overall  weird
0  616719923X      4.0         0.8    0.8
1  616719923X      3.0         0.6    NaN
2  616719923X      4.0         0.8    0.8
3  616719923X      5.0         1.0    NaN
4  616719923X      4.0         0.8    0.8
5  616719923X      4.0         0.8    0.8

In [25]:
DF1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   asin        6 non-null      object
 1   overall     6 non-null      float64
 2   st_overall  6 non-null      float64
 3   weird       4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 320.0+ bytes

## Query Method

In [26]:
DF1.query("overall == 4")

         asin  overall  st_overall  weird
0  616719923X      4.0         0.8    0.8
2  616719923X      4.0         0.8    0.8
4  616719923X      4.0         0.8    0.8
5  616719923X      4.0         0.8    0.8

## Set-Reset an Index

In [268]:
D = {
    "x": ["bar", "bar", "foo", "foo"],
    "y": ["a", "b", "a", "b"],
    "z": [1, 2, 3, 4]
}
DF = pd.DataFrame(D)
DF

     x  y  z
0  bar  a  1
1  bar  b  2
2  foo  a  3
3  foo  b  4

In [270]:
DF[['x']]

     x
0  bar
1  bar
2  foo
3  foo

In [222]:
DF.loc[0,['x','z']]

x    bar
z      1
Name: 0, dtype: object

In [223]:
DF.set_index('x')

     y  z
x
bar  a  1
bar  b  2
foo  a  3
foo  b  4

In [224]:
DF.set_index("x", inplace=True)
DF

     y  z
x
bar  a  1
bar  b  2
foo  a  3
foo  b  4

In [214]:
DF.reset_index(inplace=True)
DF

     x  y  z
0  bar  a  1
1  bar  b  2
2  foo  a  3
3  foo  b  4

In [131]:
DF[0:2]

     x  y  z
0  bar  a  1
1  bar  b  2

In [44]:
DF.set_index(["x", "y"], inplace=True)

In [45]:
DF

       z
x   y
bar a  1
    b  2
foo a  3
    b  4

In [65]:
DF['foo':]

       z
x   y
foo a  3
    b  4

In [145]:
L=[1,3,4,5]

In [146]:
L[1]

3

In [165]:
L = [30,96,12,5]

L.pop(1)
L

[30, 12, 5]

In [166]:
def fun1(a, b):

    def fun2(c, d):

        return c + d

    return fun2(a, b)

fun1(5, 10)

15

In [184]:
import numpy as np

arr = np.array([0,1,2,3,4,5,6,7,8,9])
arr = np.where(arr%2 == 1, 6, arr)
count_dict = {"six": 0, "not_six": 0}
n = 0
for i in arr:
    if i == 6:
        n = n + 1
        count_dict = {"six": n, "not_six": (len(arr) - n)}

In [248]:

# importing pandas library
import pandas as pd
 
# creating and initializing a nested list
students = [['jack', 34, 'Sydeny', 'Australia',85.96,400],
            ['Riti', 30, 'Delhi', 'India',95.20,750],
            ['Vansh', 31, 'Delhi', 'India',85.25,101],
            ['Nanyu', 32, 'Tokyo', 'Japan',74.21,900],
            ['Maychan', 16, 'New York', 'US',99.63,420],
            ['Mike', 17, 'las vegas', 'US',47.28,555]]
 
# Create a DataFrame object
df = pd.DataFrame(students,
                      columns=['Name', 'Age', 'City', 'Country','Agg_Marks','ID'],
                           index=['a', 'b', 'c', 'd', 'e', 'f'])
 
# Here we pass list of 3 columns i.e 'Name', 'City' and 'ID'
# to dataframe.set_index() function
# to set them as multiIndex of dataframe
df = df.set_index(['Name','City','ID'], inplace = True,
                            append = True, drop = False)

In [260]:
import pandas as pd
df = pd.DataFrame({'a':range(7),
                   'b':range(7,0,-1),
                   'c':['one','one','one','two','two','two','two'],
                   'd':[0,1,2,0,1,2,3]})
df

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [261]:
# 1.保留索引值
df1 = df.copy()
df1.set_index(['c','d'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [262]:
# 2.添加到原有索引
df2 = df.copy()
df2.set_index('c', append=True)

       a  b  d
  c
0 one  0  7  0
1 one  1  6  1
2 one  2  5  2
3 two  3  4  0
4 two  4  3  1
5 two  5  2  2
6 two  6  1  3

In [264]:
# 4.修改原数据框
df3 = df.copy()
df3.set_index(['c','d'], inplace=True)
df3

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [265]:
# 5.手动指定
df4 = df.copy()
df4.set_index([pd.Index([1,2,3,4,5,6,7]), 'c'])

       a  b  d
  c
1 one  0  7  0
2 one  1  6  1
3 one  2  5  2
4 two  3  4  0
5 two  4  3  1
6 two  5  2  2
7 two  6  1  3

In [266]:
# 6.索引计算
s = pd.Series([1,2,3,4,5,6,7])
df.set_index([s, s**2])

      a  b    c  d
1 1   0  7  one  0
2 4   1  6  one  1
3 9   2  5  one  2
4 16  3  4  two  0
5 25  4  3  two  1
6 36  5  2  two  2
7 49  6  1  two  3