In [1]:
import pandas as pd
import numpy as np

In [97]:
df = pd.DataFrame({'Pro_name':['Java', 'Go', 'Python', 'R', 'C', 'Java'], 'Value':[1,2,3,np.nan, 4, 6]})
df

  Pro_name  Value
0     Java    1.0
1       Go    2.0
2   Python    3.0
3        R    NaN
4        C    4.0
5     Java    6.0

In [98]:
# same outcomes
df['Pro_name'].str.contains('Python')
df['Pro_name'] == 'Python'

0    False
1    False
2     True
3    False
4    False
5    False
Name: Pro_name, dtype: bool

In [99]:
df[df['Pro_name'] == 'Python']

  Pro_name  Value
2   Python    3.0

In [100]:
r = df['Pro_name'].str.contains('Python')
r.fillna(value=False, inplace=True)
df[r]

  Pro_name  Value
2   Python    3.0

In [101]:
# rename one column to score
df.rename(columns={'Value':'Score'}, inplace=True)
df

  Pro_name  Score
0     Java    1.0
1       Go    2.0
2   Python    3.0
3        R    NaN
4        C    4.0
5     Java    6.0

In [102]:
# count values for every programme name
df['Pro_name'].value_counts()

Java      2
Go        1
Python    1
R         1
C         1
Name: Pro_name, dtype: int64

In [103]:
# inplace a null value by the average of the front and last values 
df['Score'] = df['Score'].fillna(df['Score'].interpolate())
df

  Pro_name  Score
0     Java    1.0
1       Go    2.0
2   Python    3.0
3        R    3.5
4        C    4.0
5     Java    6.0

In [104]:
# extract rows that has score large than 3
df[df['Score'] > 3]

  Pro_name  Score
3        R    3.5
4        C    4.0
5     Java    6.0

In [105]:
# drop duplicated values
df.drop_duplicates('Pro_name')

  Pro_name  Score
0     Java    1.0
1       Go    2.0
2   Python    3.0
3        R    3.5
4        C    4.0

In [106]:
# cal the mean of score
df['Score'].mean()

3.25

In [107]:
# convert pro_name to a list
df['Pro_name'].to_list()

['Java', 'Go', 'Python', 'R', 'C', 'Java']

In [108]:
# save the df as excel
df.to_excel('test.xlsx')

In [109]:
# look in the number of rows 
df.shape

(6, 2)

In [110]:
# get rows have values greater than 2 and smaller than 4
df[
    (df['Score'] > 2) & 
    (df['Score'] < 4)]
df

  Pro_name  Score
0     Java    1.0
1       Go    2.0
2   Python    3.0
3        R    3.5
4        C    4.0
5     Java    6.0

In [129]:
# swap the columns positions

# extract variables in the columns 1 and 0
cols = df.columns[[1,0]]
print(cols)

df = df[cols]
df

Index(['score', 'pro_name'], dtype='object')

   score pro_name
0      1     Java
1      2       Go
2      3   Python
3      5        R
4      4        C
5      6     Java

In [147]:
# swap v2
df = pd.DataFrame({'pro_name':['Java', 'Go', 'Python', 'R', 'C', 'Java'], 'score':[1, 2, 3, 5, 4, 6]})
temp = df['score']
df.drop(labels=['score'], axis=1, inplace=True)
df.insert(0, 'score', temp)
df

   score pro_name
0      1     Java
1      2       Go
2      3   Python
3      5        R
4      4        C
5      6     Java

In [137]:
# extract the max score
# 必须先计算 boolean 值， 再用boolean值去提取row
df[df['score'] == df['score'].max()]

   score pro_name
5      6     Java

In [140]:
# check the last 5 rows
df.tail()

   score pro_name
1      2       Go
2      3   Python
3      5        R
4      4        C
5      6     Java

In [141]:
# delete the last row of the data frame
df.drop([len(df) - 1], inplace=True)

/var/folders/k6/934yyy2n5_vf8y3c9cw39gcr0000gn/T/ipykernel_83369/3099701369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop([len(df) - 1], inplace=True)

In [154]:
# add a row with values
df = pd.DataFrame({'pro_name':['Java', 'Go', 'Python', 'R', 'C', 'Java'], 'score':[1, 2, 3, 5, 4, 6]})
x = {'pro_name':'Java', 'score':3.5}
df = df.append(x, ignore_index=True)
df

/var/folders/k6/934yyy2n5_vf8y3c9cw39gcr0000gn/T/ipykernel_83369/111697797.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(x, ignore_index=True)

  pro_name  score
0     Java    1.0
1       Go    2.0
2   Python    3.0
3        R    5.0
4        C    4.0
5     Java    6.0
6     Java    3.5

In [155]:
# sort the rows by the scores
df.sort_values('score', inplace=True)

In [156]:
# 统计每一列字符串的长度

  pro_name  score
0     Java    1.0
1       Go    2.0
2   Python    3.0
6     Java    3.5
4        C    4.0
3        R    5.0
5     Java    6.0